/** Tags **/
h1{
    text-align: center;
    padding-top: 10px;
}

h2{
    text-align: center;
}

h3{
    font-size: 25px;
}

/** Classes **/
.navbar {
    display: flex;
    align-items: center;
    background-color: #0079C1;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center; 
}

.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center; 
    height: 100%;  
    padding-top: 15px;
}

.nav-links {
    display: flex;
    width: 80px;
    size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center; 
    display: flex;
    height: 100%;  
    align-self: stretch;
}

.nav-links:hover {
    background-color: white;
    color: rgb(43, 53, 101);
    height: 100%;  
}

.home-button{
    width: 40px;
    height: 40px;
}


.item{
    /**background-color: orange; **/
    width: 32%;
    min-width: 450px;
    height: 300px; 
    float: left;
    margin: 5px;
    /* border: 3px dashed #0070BA; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.feature-button{
  height: 100px;  
  margin: 20px;
  width: 400px;
  background-color: #ffd140;
  font-family: 'Courier New', Courier, monospace;
}

.pfeature-button{
  height: 100px;  
  margin: 20px;
  width: 400px;
  background-color: #0079C1;
  font-family: 'Courier New', Courier, monospace;
}

/** drop-in ui **/

.heading{
  width: auto;
  height: 40px;
  background-color: black;
  color: white;
  font: 2em sans-serif;
  padding-left: 10px;
  padding-top: 8px;
}

.basket{
  width: 100%;
  height: 230px;
  float: left;
}

.item-image{
   transform: scale(0.8);
   float: left;
}

.purchase{
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 50px;
  float: right;
}

.purchase-price{
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 50px;
  float: right;
}

.item-text{
  font-family: Arial, Helvetica, sans-serif;
}

.item-subtext{
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #495057;
}

.item-price{
  padding-top: 10px;
  padding-right: 100px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  padding-left: 40px;
}

.checkout{
    width: 40%;
    float: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border: 2px solid black;
    min-width: 600px;
    height: 800px;
}

.pay-button{
  width: 90%;
  justify-items: center;
  text-align: center;
  height: 50px;
  margin-left: 25px;
}

hr {
  width: 85%;
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

/** host fields **/
.hosted-field {
    border-color: grey;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 0.1rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.toast {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
}

.bootstrap-basic {
  background: white;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.braintree-hosted-fields-focused.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

